<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>UF</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @cities_rank.each do |object| %>
      <tr>
        <td><%= object[:city][:city] %></td>
        <td><%= object[:city][:uf]%>
        <td><%= object[:count] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
