<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities_rank.each do |city| %>
      <tr>
        <td><%= city[:city] %></td>
        <td><%= city[:count] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
